body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* header section */

header {
    background: #161616;
    border-radius: 30px;
    width: 90%;
    color: white;
    margin: 0 auto;
}

.header-section {
    display: flex;
}

.header-image img {
    width: 100%;
}

.header-content,
.header-image {
    width: 50%;
}

.header-content {
    padding-left: 100px;
}

.header-content h1 {
    font-size: 70px;
    line-height: 80px;
    margin: 70px 0 20px 0;
}

.header-content p {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.watching-btn {
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    font-size: 20px;
    color: #FFFFFF;
}

.fa-angle-right {
    width: 24px;
    height: 24px;
}

.header-image {
    padding: 0 50px;
}


/* Main Section */

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

main {
    display: flex;
}

aside {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-right: 30px;
}

.aside-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-item button {
    width: 252px;
    height: 64px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.main-content {
    margin-bottom: 50px;
}

.blog {
    background-color: #F3F1FF;
    border-radius: 15px;
    height: 242px;
}

.match {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 0 30px;
}

.match img {
    width: 100%;
}

.match-shedule {
    text-align: center;
    color: #4D4D4D;
}

.blog-content {
    padding: 20px;
}

.upcoming-btn {
    background: #DD0000;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.footer-section {
    background-color: black;
    color: wheat;
    text-align: center;
}

.footer-contact {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-section h3 {
    padding: 20px;
}

.socile-icon {
    font-size: 50px;
    padding: 20px;
    color: #4D4D4D;
}

.socile-icon a {
    margin-left: 30px;
}

.special-btn button {
    width: 100px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    background: #DD0000;
    font-weight: 700;
}

.special-btn {
    display: flex;
    justify-content: center;
    margin: 50px;
    display: none;
}


/* Tablet Vew Port 576 to 992 */

@media screen and ( min-width: 577px) and (max-width: 992px) {
    main {
        flex-direction: column;
    }
    .aside-item {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    aside {
        width: 90%;
        background-color: #FFFFFF;
        height: 200px;
    }
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
    .special-btn {
        display: block;
        display: flex;
        justify-content: center;
        margin: 50px;
    }
}


/* ........................
Mobile Device  viewport-0-576 ....................
 */

@media screen and ( max-width: 576px) {
    .header-section {
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    .aside-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    aside {
        width: 90%;
        background-color: #FFFFFF;
        height: 400px;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-contact {
        flex-direction: column;
    }
}